/* Container for the search bar and button */
.search-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Align items vertically */
    padding: 20px 0; /* Add some padding at the top and bottom */
}

/* Style for the search input */
.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    margin-right: 10px; /* Adjust space between input and button */
}

.search-input:focus {
    border-color: #ff9f33;
}

/* Style for the search button/link */
.search-link {
    padding: 10px 15px; /* Adjust padding as needed */
    background-color: #333fff; /* Button background color */
    color: white; /* Text color */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer; /* Change cursor to pointer */
}

.search-link:focus {
    border-color: #333fff;
}

/* Styling for the picture grid */
.picture-grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
    margin-top: 30px;
    margin-left: 300px; /* Adjust this value for the desired left margin */
}

.row {
    display: flex;
    justify-content: flex-start; /* Align the images to the start (left) */
    margin-bottom: -12px; /* Space between rows */
}


.row img {
    margin: 10px; /* Space between images */
    width: 240px; /* Adjust the size of your images */
    height: auto;
    cursor: pointer; /* Change cursor to indicate clickable */
    border-radius: 7%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.row img:hover {
    transform: scale(1.05); /* Slightly scale up on hover */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* Slightly larger shadow on hover */
}

/* Adjust this to remove the margin-right from the last image in each row */
.row img:last-child {
    margin-right: 0;
}